/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%; }

body {
  background-color: #fff;
  color: #505050;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

img, svg {
  max-width: 100%; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap; }
  .container > * {
    width: 100vw; }
  .container .header,
  .container .footer {
    display: flex;
    justify-content: center;
    align-items: center; }

.content {
  flex-grow: 1; }

.header {
  background: linear-gradient(to right, #bc1ec9, #9b1abb, #8e19b6);
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header * {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .title-buttons {
    width: 100vw;
    flex-direction: row; }
    .header .title-buttons .header-right,
    .header .title-buttons .header-left {
      padding: 1em;
      color: #fefefe; }
    .header .title-buttons .header-title {
      flex-direction: column;
      color: #fefefe;
      flex-grow: 1;
      font-size: 2em; }

.footer {
  background-color: white;
  height: 90px;
  box-shadow: 0px 1px 13px #484848; }
  .footer a {
    text-decoration: none; }

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100vw; }

.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #484848; }

.tab-button-icon {
  font-size: 3em; }

@media (min-width: 20rem) {
  #example {
    width: 100%;
    background-color: #2badfe;
    display: flex;
    height: 100vh;
    align-items: center; }
    #example h1 {
      color: #fefefe;
      width: 100%;
      text-align: center;
      font-size: 3rem; } }

@media (min-width: 48rem) {
  #example {
    background-color: #2badfe; } }

@media (min-width: 80rem) {
  #example {
    background-color: #333333; } }

@media (min-width: 90rem) {
  #example {
    background-color: #ba2e8b; } }
